html {
	font-size: 14px;
	line-height: 1.42875;
	color: #666666;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'PingFang SC', 'Menlo', 'Meslo LG', 'monospace', 'Helvetica', 'Tahoma', 'Arial', 'Microsoft JhengHei', 'Microsoft YaHei', 'SimSun', 'sans-serif';
	font-weight: 300;
}

* {
	box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
	font-family: 'PingFang SC', 'Menlo', 'Meslo LG', 'monospace', 'Helvetica', 'Tahoma', 'Arial', 'Microsoft JhengHei', 'Microsoft YaHei', 'SimSun', 'sans-serif';
	outline: 0;
	border: 0;
	padding: 0;
	color: #666666;
}

/* a */
a {
	text-decoration: none;
	color: #666666;
}
/* p */

p {
	padding: 0;
	margin: 0;
}

/* ul ol 重置 */

ul,
ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}


/* scroll-bar */

scrollbar {
	-webkit-appearance: none !important;
	background: #666666 !important;
}

scrollbarbutton {
	display: none !important;
}

scrollbar[orient="vertical"] {
	min-width: 6px !important;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
	background-color: #999999;
	border-radius: 4px
}

a,
button,
input,
textarea {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* 基础样式 */


/* 标题 */


h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	margin: 0 0;
	font-weight: 300;
	color: #333333;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

a {
	position: relative;
}

a.active {
	color: #1B3DCC;
}

a.active::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #1B3DCC;
	visibility: visible;
}

@media (min-width: 600px) {
	a[nounder]::before {
		width: 0;
	}
	a::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: #1B3DCC;
		visibility: hidden;
		transform: scaleX(0);
		transition: all .25s ease;
	}
	a:hover {
		color: #1B3DCC;
	}
	a:hover::before {
		visibility: visible;
		transform: scaleX(1);
	}
	a.active::before {
		width: 0;
	}
}


/* 基础类 */

.hide {
	display: none;
}

.input {
	padding: 16px;
	border: 1px solid #ddd;
	border-radius: 2px;
	transition: border .3s;
	background-color: #fff;
}

.input:-webkit-autofill {
	box-shadow: 0 0 0px 1000px white inset;
}

.input-big {
	padding: 16px;
}

.input-medium {
	padding: 12px;
}

.input-small {
	padding: 8px;
}

.btn {
	padding: 8px 16px;
	border-radius: 4px;
}

.shadow {
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
}