<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
	<h1><%= title %></h1>
	<form action='/admin/login' method='post'>
		<input type='text' name='username' placeholder='请输入用户名/邮箱'>
		<input type='password' name='password' placeholder='请输入密码'>
		<button type='submit'>提交</button>
	</form>
</body>
</html>
