/* header */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background-color: #fff;
}
#header nav{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	height: 100%;
}
#header nav a{
	margin-right: 40px;
}
/* content */
#content {
	width: 1000px;
	margin: 80px auto 40px auto;
}
/* 登录页 */
.login-form {
	height: 100%;
	margin-top: -40px;
}
.login-form,.login-form form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.login-form form input ,.login-form form button{
	width: 300px;
	margin-top: 20px;
	text-align: center;
}
/* 后台首页 */
.admin-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 400px;
	margin: 0 auto;
}
.admin-nav a button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
/* 文章列表页 */
.article-list .article-item {
	display: flex;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #fff;
}
.article-page {
	display: flex;
	justify-content: center;
}
.article-page .page-item {
	margin: 0 10px;
}
.article-page .page-item:hover {
	text-decoration: underline;
}
/* edit 页面 */
.edit-header {
	display: flex;
	align-items: center;
	height: 50px;
	margin-bottom: 20px;
}
.edit-header .category {
	margin-left: 40px;
	font-size: 16px;
}
.edit-header .new-type-input {
	margin-left: 20px;
	width: 200px;
}

.edit-article-message {
	display: flex;
}
.edit-article-message .left {
	width: 600px
}
.edit-article-message .left input, .edit-article-message .left textarea{
	width: 100%;
}
.edit-article-message .input-wrapper{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.edit-article-message .right {
	width: 380px;
	margin-left: 20px;
}
.edit-article-message .right .upload-preview {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 260px;
	border-radius: 2px;
	cursor: pointer;
	border: 2px dotted #ddd;
	color: #ddd;
}
.edit-article-content {
	width: 100%;
	height: 400px;
	margin: 20px auto;
}